*.a
*.a.desc
*.pytmp
*.o
*.pyc
*.so
*.so.symbols

autom4te.cache
backend.mk
UnifiedBindings[0-9]*.cpp
Unified_c_*[0-9].c
Unified_cpp_*[0-9].cpp
Unified_cpp_storage[0-9]*.cpp
UnifiedProtocols[0-9]*.cpp

.cargo
confdefs.h
config.cache
config.data
config.log
config.status
conftest.c
conftest.s
.deps
.gdbinit
.gdbinit_python
.lldbinit
Makefile
.mkdir.done

/addon-sdk/
/all-tests.pkl
/backend.FasterMakeBackend
/backend.FasterMakeBackend.in
/backend.RecursiveMakeBackend
/backend.RecursiveMakeBackend.in
/binaries.json
/browser/app/firefox
/browser/themes/linux/tab-selected-end.svg
/browser/themes/linux/tab-selected-start.svg
/build/application.ini.h
/build/automation.py
/buildid.h
/_build_manifests/
/build/unix/gold/ld
/config/autoconf-js.mk
/config/autoconf.mk
/config/doxygen.cfg
/config/emptyvars-js.mk
/config/emptyvars.mk
/config/nsinstall
/config/nsinstall_real
/config/stl_wrappers/
/config/system_wrappers/
/dist
/dom/base/PropertyUseCounterMap.inc
/dom/base/UseCounterList.h
/dom/bindings
/dom/bindings/file-lists.json
/dom/bindings/webidlsrcs.mk
/dom/encoding/domainsfallbacks.properties.h
/dom/encoding/encodingsgroups.properties.h
/dom/encoding/labelsencodings.properties.h
/dom/encoding/localesfallbacks.properties.h
/dom/encoding/nonparticipatingdomains.properties.h
/editor/txmgr/tests/TestTXMgr
/faster/
/faster/install_dist_bin_browser
/faster/install_dist_bin_browser_extensions_{972ce4c6-7e08-4474-a285-3208198ce6fd}
/faster/install_dist_bin_browser_features_firefox@getpocket.com
/faster/install_dist_bin_gmp-clearkey_0.1
/faster/install_dist_bin_gmp-fake_1.0
/faster/install_dist_bin_gmp-fakeopenh264_1.0
/gfx/cairo/cairo/src/cairo-features.h
/gfx/thebes/DeprecatedPremultiplyTables.h
/intl/locale/langGroups.properties.h
/intl/locale/unix/unixcharset.properties.h
/ipc/app/plugin-container
/ipc/ipdl
/ipc/ipdl/_ipdlheaders/
/ipc/ipdl/ipdlsrcs.mk
/js/src/build/unix/gold/ld
/js/src/configure.pkl
/js/src/gdb/gdb-tests
/js/src/gdb/gdb-tests-gdb.py
/js/src/jsapi-tests/jsapi-tests
/js/src/jsapi-tests/jsapi-tests-gdb.py
/js/src/jsautokw.h
/js/src/js-confdefs.h
/js/src/js-config
/js/src/js-config.h
/js/src/js.pc
/js/src/old-configure.vars
/js/src/selfhosted.js
/js/src/selfhosted.out.h
/js/src/skip_subconfigures
/js/src/subconfigures
/js/src/symverscript
/js/xpconnect/shell/xpcshell
/layout/style/nsCSSPropsGenerated.inc
/layout/style/nsStyleStructList.h
/layout/style/test/css_properties.js
/layout/style/test/host_ListCSSProperties
/layout/tools/reftest/automation.py
/media/libcubeb/tests/test_audio
/media/libcubeb/tests/test_duplex
/media/libcubeb/tests/test_latency
/media/libcubeb/tests/test_record
/media/libcubeb/tests/test_resampler
/media/libcubeb/tests/test_sanity
/media/libcubeb/tests/test_tone
/media/libcubeb/tests/test_utils
/mfbt/tests/TestArray
/mfbt/tests/TestArrayUtils
/mfbt/tests/TestAtomics
/mfbt/tests/TestBinarySearch
/mfbt/tests/TestBloomFilter
/mfbt/tests/TestBufferList
/mfbt/tests/TestCasting
/mfbt/tests/TestCeilingFloor
/mfbt/tests/TestCheckedInt
/mfbt/tests/TestCountPopulation
/mfbt/tests/TestCountZeroes
/mfbt/tests/TestEndian
/mfbt/tests/TestEnumeratedArray
/mfbt/tests/TestEnumSet
/mfbt/tests/TestEnumTypeTraits
/mfbt/tests/TestFastBernoulliTrial
/mfbt/tests/TestFloatingPoint
/mfbt/tests/TestFunction
/mfbt/tests/TestIntegerPrintfMacros
/mfbt/tests/TestIntegerRange
/mfbt/tests/TestJSONWriter
/mfbt/tests/TestLinkedList
/mfbt/tests/TestMacroArgs
/mfbt/tests/TestMacroForEach
/mfbt/tests/TestMathAlgorithms
/mfbt/tests/TestMaybe
/mfbt/tests/TestNotNull
/mfbt/tests/TestPair
/mfbt/tests/TestPoisonArea
/mfbt/tests/TestRange
/mfbt/tests/TestRefPtr
/mfbt/tests/TestRollingMean
/mfbt/tests/TestSaturate
/mfbt/tests/TestScopeExit
/mfbt/tests/TestSegmentedVector
/mfbt/tests/TestSHA1
/mfbt/tests/TestSplayTree
/mfbt/tests/TestTemplateLib
/mfbt/tests/TestTextUtils
/mfbt/tests/TestTuple
/mfbt/tests/TestTypedEnum
/mfbt/tests/TestTypeTraits
/mfbt/tests/TestUniquePtr
/mfbt/tests/TestVariant
/mfbt/tests/TestVector
/mfbt/tests/TestWeakPtr
/mfbt/tests/TestXorShift128PlusRNG
/mozglue/tests/ShowSSEConfig
/mozilla-config.h
/mozilla/netwerk/srtp/src/configure
/mozinfo.json
/netwerk/dns/etld_data.inc
/netwerk/necko-config.h
/netwerk/streamconv/test/TestStreamConv
/netwerk/test/PropertiesTest
/netwerk/test/ReadNTLM
/netwerk/test/TestBind
/netwerk/test/TestBlockingSocket
/netwerk/test/TestCookie
/netwerk/test/TestDNS
/netwerk/test/TestIncrementalDownload
/netwerk/test/TestOpen
/netwerk/test/TestProtocols
/netwerk/test/TestServ
/netwerk/test/TestStreamLoader
/netwerk/test/TestUDPSocket
/netwerk/test/TestUpload
/netwerk/test/TestURLParser
/netwerk/test/urltest
/old-configure.vars
/root-deps.mk
/root.mk
/security/apps/addons-public.inc
/security/apps/addons-stage.inc
/security/apps/manifest-signing-root.inc
/security/apps/manifest-signing-test-root.inc
/security/apps/marketplace-dev-public.inc
/security/apps/marketplace-dev-reviewers.inc
/security/apps/marketplace-prod-public.inc
/security/apps/marketplace-prod-reviewers.inc
/security/apps/marketplace-stage.inc
/security/apps/privileged-package-root.inc
/security/apps/xpcshell.inc
/security/manager/ssl/tests/unit/tlsserver/cmd/BadCertServer
/security/manager/ssl/tests/unit/tlsserver/cmd/GenerateOCSPResponse
/security/manager/ssl/tests/unit/tlsserver/cmd/OCSPStaplingServer
/security/nss/cmd/certutil/certutil_certutil/certutil
/security/nss/cmd/modutil/modutil_modutil/modutil
/security/nss/cmd/pk12util/pk12util_pk12util/pk12util
/security/nss/cmd/shlibsign/shlibsign_shlibsign/shlibsign
/security/nss/lib/ckfw/builtins/builtins_nssckbi/certdata.c
/security/nss/lib/ckfw/builtins/builtins_nssckbi/out.nssckbi.def
/security/nss/lib/freebl/freebl_freebl3/out.freebl_hash.def
/security/nss/lib/freebl/freebl_freeblpriv3/out.freebl_hash_vector.def
/security/nss/lib/nss/nss_nss3/out.nss.def
/security/nss/lib/smime/smime_smime3/out.smime.def
/security/nss/lib/softoken/softoken_softokn3/out.softokn.def
/security/nss/lib/ssl/ssl_ssl3/out.ssl.def
/security/nss/lib/util/util_nssutil3/out.nssutil.def
/services/common/tests/unit/test_blocklist_signatures/collection_signing_ee.pem
/services/common/tests/unit/test_blocklist_signatures/collection_signing_int.pem
/services/common/tests/unit/test_blocklist_signatures/collection_signing_root.pem
/skip_subconfigures
/source-repo.h
/startupcache/test/TestStartupCache
/storage/test/test_AsXXX_helpers
/storage/test/test_async_callbacks_with_spun_event_loops
/storage/test/test_asyncStatementExecution_transaction
/storage/test/test_binding_params
/storage/test/test_file_perms
/storage/test/test_mutex
/storage/test/test_service_init_background_thread
/storage/test/test_StatementCache
/storage/test/test_statement_scoper
/storage/test/test_transaction_helper
/storage/test/test_true_async
/storage/test/test_unlock_notify
/subconfigures
/test-defaults.pkl
/testing/mochitest/automation.py
/testing/mochitest/ssltunnel/ssltunnel
/testing/specialpowers/specialpowers/bootstrap.js
/testing/specialpowers/specialpowers/chrome.manifest
/testing/specialpowers/specialpowers/chrome/specialpowers/content/Assert.jsm
/testing/specialpowers/specialpowers/chrome/specialpowers/content/MockColorPicker.jsm
/testing/specialpowers/specialpowers/chrome/specialpowers/content/MockFilePicker.jsm
/testing/specialpowers/specialpowers/chrome/specialpowers/content/MockPermissionPrompt.jsm
/testing/specialpowers/specialpowers/chrome/specialpowers/content/MozillaLogger.js
/testing/specialpowers/specialpowers/chrome/specialpowers/content/specialpowersAPI.js
/testing/specialpowers/specialpowers/chrome/specialpowers/content/specialpowers.js
/testing/specialpowers/specialpowers/chrome/specialpowers/content/SpecialPowersObserverAPI.js
/testing/specialpowers/specialpowers/chrome/specialpowers/content/SpecialPowersObserver.jsm
/testing/specialpowers/specialpowers/install.rdf
/testing/tools/screenshot/screentopng
/test-installs.pkl
/_tests/
/toolkit/components/places/tests/cpp/test_IHistory
/toolkit/components/telemetry/TelemetryEventData.h
/toolkit/components/telemetry/TelemetryEventEnums.h
/toolkit/components/telemetry/TelemetryHistogramData.inc
/toolkit/components/telemetry/TelemetryHistogramEnums.h
/toolkit/components/telemetry/TelemetryScalarData.h
/toolkit/components/telemetry/TelemetryScalarEnums.h
/toolkit/components/urlformatter/api_keys
/toolkit/library/dependentlibs.list
/toolkit/library/libxul.so-gdb.py
/toolkit/library/symverscript
/tools/power/rapl
/uriloader/exthandler/tests/WriteArgument
/_virtualenv/
/xpcom/idl-parser/xpidl/xpidllex.py
/xpcom/idl-parser/xpidl/xpidl.stub
/xpcom/idl-parser/xpidl/xpidlyacc.py
/xpcom/tests/external/TestMinStringAPI
/xpcom/tests/TestArguments
/xpcom/tests/TestBlockingProcess
/xpcom/tests/TestPRIntN
/xpcom/tests/TestQuickReturn
/xpcom/tests/TestUnicodeArguments
/xpcom/xpcom-config.h
/xpcom/xpcom-private.h
/.ycm_extra_conf.py
